.chat_container_client{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.client_navbar_messenger{
    width: 200px;
    z-index: 999;
}

.wrap_client_chat{
    width: 87%;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.isecurion_inbox{
    height: 70px;
    background-color: #f5f8f9;
}

.isecurion_inbox p {
    font-size: 14px;
    text-align: left;
    padding-left: 80px;
    margin-top: -22px;
}

.isecurion_chat_name{
    display: flex;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    padding-left: 30px;
}

.isecurion_chat_name h4 {
    margin-left: 8px;
    width: 40px;
    background-color: rgb(59, 123, 161);
    height: 40px;
    border-radius: 50%;
    align-self: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
    color: white;
    margin-top: 6px;
}

.isecurion_chat_name h1 {
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    color: rgb(74, 74, 74);
    transition: 10s ease-in-out;
}

.isecurion_inbox hr {
    width: 98%;
    margin-top: -11px;
}

.client_main_chat{
    flex: 70%;
    overflow-y: auto;
    background-color: #ede9e9;
    display: flex;
    flex-direction: column;
}

.client_main_chat::-webkit-scrollbar {
    width: 10px;
}

.client_main_chat::-webkit-scrollbar-thumb {
    background-color: #e8e8e8;
    border-radius: 5px;
}

.client_main_chat::-webkit-scrollbar-thumb:hover {
    background-color: #afafaf;

}

.client_main_chat::-webkit-scrollbar-track {
    background-color: transparent;
}


.isecurion_message-right,
.client_message-left{
    max-width: 40%;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
}

.client_message-left {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    text-align: right;
    margin-right: 30px;
    margin-top: 4px;
    border-radius: 15px;
    padding: 0 10px;
    margin-bottom: 5px;
}

.client_message-left p{
    font-size: 15px;
    padding: 0px 12px;
    border-radius: 20px;
    text-align: left;
    word-break: break-all;
}

.client_message-left .isecurion_wrap-data {
    display: flex;
    flex-direction: column;
    background-color: rgb(134, 204, 134);
    padding:0 10px;
    border-radius:12px;
    border-bottom-right-radius: 0%;
    min-width: 70px;
    border: 1px solid rgba(96, 160, 96, 0.57);
}

.client_message-left .isecurion_time_username{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.client_message-left .isecurion_time_username h6{
    font-size: 11px;
    width: 80px;
    color: rgba(0, 0, 0, 0.659);
    border: none;
    margin-top: -10px;
    margin-bottom: 0px;
    margin-left: 5px;
    background-color: transparent;
    padding: 0;
    text-align: left;
    justify-content: flex-start;
    align-self: flex-start;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
}

.client_message-left .isecurion_profile-h4 h4{
    display: none;
}

.isecurion_message-right {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    text-align: left;
    margin-left: 30px;
    margin-top: 5px;
    border-radius: 15px;
    padding: 0 10px;
    margin-bottom: 5px;
}

.isecurion_message-right p{
    font-size: 15px;
    padding: 0px 8px;
    border-radius: 15px;
    text-align: left;
    word-break: break-all;
}

.isecurion_message-right .isecurion_wrap-data {
    display: flex;
    flex-direction: column;
    background-color:rgb(206, 206, 206);
    padding:0 10px;
    border-radius:12px;
    border-top-left-radius: 0%;
    margin-left: 12px;
    min-width: 70px;
    border: 1px solid rgba(122, 122, 122, 0.216);
}

.isecurion_message-right .isecurion_profile-h4 h4{
    margin-right: -10px;
    width: 35px;
    background-color: rgb(32, 35, 23);
    height: 35px;
    border-radius: 50%;
    align-self: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
    color: white;
    margin-top: 0px;
}

.isecurion_message-right .isecurion_time_username{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}

.isecurion_message-right .isecurion_time_username  h6{
    font-size: 11px;
    width: 80px;
    color: rgba(46, 46, 46, 0.659);
    border: none;
    margin-top: -10px;
    margin-bottom: 0px;
    background-color: transparent;
    padding: 0;
    align-self: flex-end;
    text-align: right;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 5px;
}

.client_chat_options{
    height: 100px;
    top: 10%;
    width: 100%;
    background-color: #f8faff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    display: flex;
    align-self: center;
    justify-content: center;
}

.client_chat_options hr {
    width: 98%;
    margin-top: 0;
}

.client_chat_options textarea {
    width: 90%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    font-size: 16px;
    padding-left: 10px;
    align-self: center;
    justify-content: center;
    border: none;
    overflow-y: hidden;
    margin-top: 0px;
    resize: none;
}

.client_chat_options input:focus {
    outline: none;
}

.client_chat_options button {
    width:46px;
    height: 50px;
    align-self: center;
    justify-content: center;
    padding-top: 8px;
    font-size: 23px;
    margin-left: 10px;
    border: none;
    color: white;
    background-color: #15974f;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 0px;

}

.client_message_error{
    position: fixed;
    width: fit-content;
    height: 40px;
    top: 70px;
    right: 50px;
    background-color: rgba(255, 255, 255);
    border-radius: 5px;
    z-index: 0;
    font-weight: bold;
    border: 1px solid red;
    box-shadow: 5px 6px 10px 0px black;
}

.client_message_error p {
    font-weight: 500;
    font-size: 16px;
    margin-top: 9px;
    padding: 0 19px;
    color: red;
}

@media only screen and (max-width:844px){
    .client_navbar_messenger{
        width: 70px;
        z-index: 999;
    }

    .wrap_client_chat{
        width: 92%;
        display: flex;
        flex-direction: column;
        height: 100vh;

    }

}

@media only screen and (min-width:1500px){
    .client_navbar_messenger{
        width: 250px;
        z-index: 999;
    }

    .wrap_client_chat{
        width: 88%;
        display: flex;
        flex-direction: column;
        height: 100vh;

    }
}
