.client-wrapvulnerable {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-self: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.wrap-maincontent {
    background-color: white;
    margin-top: 20px;
    width: 95%;
    justify-content: center;
    align-self: center;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.client-wrap-headding {
    display: flex;
    flex-direction: row;
}

.client-list-vuln {
    flex: 16%;
    width: 400px;
}

.client-list-vuln h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
    align-self: flex-start;
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
    color: rgba(5, 5, 5, 0.573);
}

.retest-button {
    align-self: flex-end;
    justify-content: flex-end;
    text-align: right;
}

.retest-button button {
    font-size: 16px;
    padding: 8px;
    width: 150px;
    color: black;
    background-color: rgba(88, 191, 255, 0.637);
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: -8px;
    font-family: "IBM Plex Sans", sans-serif;
}

.retest-button button:hover {
    background-color: rgba(88, 191, 255, 0.774);
}

.client-table-vulner a {
    width: 25px;
    height: 25px;
    text-align: center;
    align-self: center;
    cursor: pointer;
    background-color: rgba(88, 191, 255, 0.637);
    padding: 5px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 20px;
    font-size: 13px;
}

.client-table-vulner select {
    font-size: 18px;
    border: none;
}

.client-table-vulner a:hover {
    background-color: rgba(88, 191, 255, 0.774);
}

.icon {
    font-size: 22px;
}

.icon:hover {
    color: red;
}

.client-table-vulner .critical {
    background-color: red;
    color: black;
    font-weight: 500;
}

.client-table-vulner .high {
    background-color: rgba(255, 166, 0, 0.925);
    color: black;
    font-weight: 500;
}

.client-table-vulner .medium {
    background-color: #4285f4;
    color: black;
    font-weight: 500;
}

.client-table-vulner .low {
    background-color: #6aa84f;
    color: black;
    font-weight: 500;
}

.client-table-vulner .info {
    background-color: rgba(69, 170, 217, 0.356);
    color: black;
    font-weight: 500;
}

.table_edit p {
    font-size: 15px;
    padding: 0px;
}

.button_status {
    border: none;
    background-color: rgba(248, 249, 248, 0.716);
    font-size: 18px;
}

.button_status select {
    width: 100px;
    padding: 5px 0px 5px 0px;
    background-color: rgba(248, 249, 248, 0.716);
}

.button_status option {
    font-size: 18px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    margin: 5px;
}

.icons {
    cursor: pointer;
}

.icons:hover {
    color: red;
}

.confirmation-dialog {
    background-color: rgba(0, 0, 0, 0.603);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
}

.content_dialog {
    background-color: white;
    width: 400px;
    height: 180px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    text-align: center;
    color: black;
}
.content_dialog button:disabled{
    cursor: not-allowed;
    color: rgb(178, 178, 178);
}


.confirmation-dialog p {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 40px;
    color: black;
    text-align: center;
}

.confirmation-dialog .butn_1_confirm {
    background-color: rgba(88, 191, 255, 0.637);
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.confirmation-dialog .butn_2_cancel {
    background-color: rgb(227, 227, 227);
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.confirmation-dialog .butn_1_confirm:hover {
    background-color: rgba(88, 191, 255, 0.774);
}

.confirmation-dialog .butn_2_cancel:hover {
    background-color: rgba(88, 191, 255, 0.774);
}

.notificationnn {
    position: fixed;
    width: 320px;
    height: 40px;
    top: 70px;
    right: 50px;
    background-color: rgba(255, 255, 255);
    border-radius: 5px;
    color: green;
    z-index: 0;
    border: 1px solid green;
    box-shadow: 5px 6px 10px 0px black;
    transition: 10s ease-in-out;
}

.notificationnn p {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
    color: green;
    margin-left: 20px;
}

.wrap_opencomment {
    background-color: rgba(0, 0, 0, 0.603);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: white;
    width: 100%;
    height: 100%;
}

.open_comment {
    background-color: white;
    width: 450px;
    height: 310px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: black;
}

.wrap_comment_close{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.wrap_comment_close h2 {
    flex: 50%;
    font-size: 18px;
    margin-left: 45px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 500;
    color: rgb(30, 30, 30, 0.762);
}

.wrap_comment_close button {
    flex: 50%;
    position: absolute;
    font-size: 16px;
    text-align: right;
    background-color: transparent;
    color: rgb(44, 44, 44);
    font-weight: bold;
    cursor: pointer;
    margin-top: -20px;
    margin-right: -20px;
}

.wrap_comment_close button:hover {
    background-color: rgb(143, 165, 185);
    color: black;
    border-radius: 5px;
}

.open_comment textarea {
    font-size: 16px;
    min-height: 180px;
    max-height: 180px;
    min-width: 350px;
    max-width: 350px;
    border: 1px solid rgb(174, 174, 174);
    resize: none;
    letter-spacing: 0.3px;
    align-self: center;
    justify-content: center;
}

.wrap_cancel_save {
    margin-top: 10px;
    margin-left: 30px;
}

.save_comment{
    margin-top: 20px;
}

.save_comment button {
    width: 100px;
    background-color: rgba(88, 191, 255, 0.637);
    color: black;
    font-weight: 400;
    border-radius: 5px;
    padding: 7px 5px;
    font-size: 16px;
    margin-left: -250px;
    font-family: "IBM Plex Sans", sans-serif;
}

.save_comment button:hover {
    background-color: rgba(88, 191, 255, 0.774);
}

.open_comment p{
    font-size: 13px;
    font-weight: 400;
    margin-top: -5px;
    align-self: flex-start;
    text-align: left;
    margin-left: 50px;
    color: rgb(240, 3, 3);
    margin-bottom: 0px;
}
.client-wrapvul-table {
    max-width: 100%;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.client-table-vulner {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

@media only screen and (max-width:1500px){
    .client-wrapvul-table {
        max-width: 100%;
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .client-table-vulner {
        width: 100%;
        border-collapse: collapse;
        font-size: 18px;
    }

    .client-table-vulner th {
        min-width: 20px;
        max-width: 150px;
        text-align: center;
        padding: 8px 5px;
        color: rgba(0, 0, 0, 0.569);
        border: 1px solid rgba(142, 142, 142, 0.235);
        background-color: #8be3e383;
        font-size: 14px;
        letter-spacing: 0.2px;
        white-space: nowrap;
        text-align: left;
        align-self: flex-start;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .client-table-vulner td {
        min-width: 20px;
        max-width: 150px;
        background-color: rgba(248, 249, 248, 0.62);
        color: black;
        padding: 5px 5px 5px 0px;
        border: 1px solid rgba(142, 142, 142, 0.235);
        font-size: 14px;
        letter-spacing: 0.2px;
        white-space: nowrap;
        text-align: left;
        align-self: flex-start;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .client-table-vulner th:first-child,
    .client-table-vulner td:first-child {
        width: 20px;
        padding: 5px 5px 5px 5px;
        text-align: center;
    }

    .client-table-vulner th:nth-child(2) {
        width: 150px;
        text-align: center;
    }

    .client-table-vulner td:nth-child(2) {
        width: 150px;
        text-align: left;
        padding: 5px 5px 5px 5px;
    }

    .client-table-vulner th:nth-child(3) {
        width: 60px;
        text-align: center;
    }

    .client-table-vulner td:nth-child(3) {
        max-width: 60px;
        text-align: center;
        padding: 5px 5px 5px 5px;
        word-break: break-all;
    }

    .client-table-vulner th:nth-child(4) {
        width: 220px;
        text-align: center;
    }

    .client-table-vulner td:nth-child(4) {
        width: 220px;
        text-align: left;
        padding: 5px 5px 5px 5px;
    }

    .client-table-vulner th:nth-child(5) {
        max-width: 220px;
        text-align: center;
    }

    .client-table-vulner td:nth-child(5) {
        max-width: 220px;
        text-align: left;
        padding: 5px 5px 5px 5px;
    }

    .client-table-vulner th:nth-child(6) {
        min-width: 80px;
        max-width: 100px;
        text-align: center;
    }

    .client-table-vulner td:nth-child(6) {
        width: 80px;
        text-align: center;
        padding: 5px 5px 5px 5px;
    }

    .client-table-vulner th:nth-child(7) {
        width: 40px;
    }

    .client-table-vulner td:nth-child(7) {
        width: 40px;
        text-align: center;
        padding: 5px 5px 5px 5px;
    }

    .client-table-vulner th:nth-child(8) {
       max-width: 45px;
    }

    .client-table-vulner td:nth-child(8) {
        max-width: 45px;
        text-align: center;
        padding: 5px 5px 5px 5px;
    }

}

@media only screen and (min-width:1500px) {
    .wrap-maincontent {
        background-color: white;
        margin-top: 20px;
        width: 90%;
        justify-content: center;
        align-self: center;
        margin-bottom: 30px;
        border-radius: 10px;
        box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    }

    .client-table-vulner th {
        text-align: center;
        padding: 8px 5px;
        color: rgba(0, 0, 0, 0.569);
        border: 1px solid rgba(142, 142, 142, 0.235);
        background-color: #8be3e383;
        font-size: 14px;
        letter-spacing: 0.2px;
    }

    .client-table-vulner td {
        background-color: rgba(248, 249, 248, 0.62);
        color: black;
        padding: 5px 5px 5px 0px;
        border: 1px solid rgba(142, 142, 142, 0.235);
        font-size: 14px;
        letter-spacing: 0.2px;
    }

    .client-table-vulner th:first-child,
    .client-table-vulner td:first-child {
        width: 15px;
        padding: 5px 5px 5px 5px;
    }

    .client-table-vulner th:nth-child(2) {
        width: 150px;
    }

    .client-table-vulner td:nth-child(2) {
        width: 150px;
        text-align: left;
        padding: 5px 5px 5px 5px;
    }

    .client-table-vulner th:nth-child(3) {
        width: 35px;
    }

    .client-table-vulner td:nth-child(3) {
        width: 35px;
        text-align: center;
        padding: 5px 5px 5px 5px;
        word-break: break-all;
    }

    .client-table-vulner th:nth-child(4) {
        width: 240px;
    }

    .client-table-vulner td:nth-child(4) {
        width: 240px;
        text-align: left;
        padding: 5px 5px 5px 5px;
    }

    .client-table-vulner th:nth-child(5) {
        width: 250px;
    }

    .client-table-vulner td:nth-child(5) {
        width: 250px;
        text-align: justify;
        align-self: flex-start;
        padding: 5px 5px 5px 5px;
    }

    .client-table-vulner th:nth-child(6) {
        width: 80px;
    }

    .client-table-vulner td:nth-child(6) {
        width: 80px;
        text-align: center;
        padding: 5px 5px 5px 5px;
    }

    .client-table-vulner th:nth-child(7) {
        width: 20px;
    }

    .client-table-vulner td:nth-child(7) {
        width: 20px;
        text-align: center;
        /* padding: 5px 5px 5px 5px; */
    }

    .client-table-vulner th:nth-child(8) {
        width: 32px;
        text-align: center;
    }

    .client-table-vulner td:nth-child(8) {
        width: 32px;
        text-align: center;
        padding: 5px 5px 5px 5px;
        cursor: pointer;
        font-weight: 500;
        text-decoration: none;
    }

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        /* color: black; */
        font-size: 17px;
    }

    .client-table-vulner td button:hover {
        color: rgb(41, 41, 41);
    }

}

@media only screen and (max-width:1150px){

    .client-wrapvul-table {
        max-width: 100%;
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        overflow-x: scroll;
    }
}



