.client-table-list-dash {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.client-wraphead {
  width: 95%;
  /* height: 600px; */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .2), 0 1px 8px 0px rgba(0, 0, 0, .14), 0px 0px 3px 0 rgba(0, 0, 0, .12);
}

.client-head3 {
  width: 100%;
  height: 60px;
  display: flex;
  border-radius: 10px;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  background-color: #f5f8fd;
}

.client-head3 h3 {
  width: 200px;
  font-size: 23px;
  margin-left: 0px;
  text-align: left;
  color: rgba(5, 5, 5, 0.598);
  font-weight: 500;
  letter-spacing: 0.2px;
  align-self: center;
  margin-left: 30px;
}

.client_search-box {
  flex: 50%;
  width: fit-content;
  height: fit-content;
  margin-bottom: 0px;
  margin-top: -5px;
  margin-right: 10px;
  justify-content: center;
  align-self: center;
  display: flex;
  flex-direction: row;
}

.client_input-search {
  height: 20px;
  width: 85%;
  border-style: none;
  padding: 11px;
  font-size: 16px;
  letter-spacing: 0.1px;
  border-radius: 10px;
  background-color: #c0c0c076;
  padding-right: 40px;
  color: black;
  margin-top: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  white-space: nowrap;
  text-align: left;
  align-self: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
}

.client_input-search::placeholder {
  color: rgb(0, 0, 0);
  font-size: 14px;
  letter-spacing: 0.2px;
  font-weight: 300;
}

.client_btn-search {
  width: 35px;
  height: 42px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 0px;
  color: black;
  background-color: #c0c0c076;
  pointer-events: painted;
  margin-top: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.client_btn-search:focus .client_input-search,
.client_input-search:focus {
  width: 85%;
  border-radius: 0px;
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid rgb(118, 118, 118);
  outline: rgb(118, 118, 118);
  border-left: none;
}

.client_btn-search_focused{
  width: 35px;
  height: 44px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 0px;
  color: black;
  background-color: white;
  pointer-events: painted;
  margin-top: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid rgb(118, 118, 118);
  outline: rgb(118, 118, 118);
  border-right: none;
}

.client_input-search:focus {
  outline-color: rgba(88, 191, 255, 0.637);
}

.client-wraptable {
  max-width: 100%;
  display: flex;
  margin-top: -10px;
  justify-content: center;
  flex-grow: 1;
  overflow: auto;
}

.background {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 0px;
}

.client-taablist {
  width: 95%;
  border-collapse: collapse;
  margin-top: 10px;
}

.client-taablist th {
  width: 150px;
  text-align: center;
  padding: 9px 13px;
  color: rgba(0, 0, 0, 0.569);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.2px;
  white-space: nowrap;
  text-align: left;
  align-self: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
}

.client-taablist td {
  width: 150px;
  text-align: center;
  padding: 9.2px 13px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.2px;
  white-space: nowrap;
  text-align: left;
  align-self: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
}

.client-taablist tr {
  border: 2px solid white;
  border-top: none;
  border-radius: 5px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.collapsetable td {
  font-size: 20px;
  color: red;
  font-weight: 500;
  background-color: white;
  padding: 10px;
  justify-content: center;
  align-self: center;
  text-align: center;
  border: 2px solid white;
  border-top: none;
  border-radius: 5px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.collapsetable {
  border: 2px solid white;
  border-top: none;
  border-radius: 5px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.client-taablist th:first-child,
.client-taablist td:first-child {
  width: 50px;

}

.class-trclient tr:hover {
  background-color: rgba(123, 123, 123, 0.211);
  transition: 0.2s ease-in;
  cursor: pointer;
}

.client-taablist .cfixed {
  color: black;
  cursor: pointer;
}

.ongoing {
  color: red;
  cursor: pointer;

}

.completed {
  color: forestgreen;
  cursor: pointer;
}

.retesting {
  color: chocolate;
  cursor: pointer;

}

.additional-clientpage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  align-self: flex-end;
  justify-content: end;
}

.clientpage_size {
  display: flex;
  flex-direction: row;
  margin-top: -17px;
  text-align: right;
  justify-content: end;
}

.clientpage_size p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.694);
  margin-top: 20px;
  margin-left: -20px;
}

.wrap-clientpage {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: -5px;
  margin-top: 2px;
  margin-right: 20px;
  margin-left: 20px;
}

.wrap-clientpage button:hover {
  background-color: rgba(213, 213, 213, 0.657);
  height: 20px;
}

.wrap-clientpage button {
  font-size: 15px;
  background-color: white;
  cursor: pointer;
  border-radius: 8px;
  height: 10px;
  margin-top: 17px;
}

.wrap-clientpage p {
  font-size: 16px;
  padding: 4px 8px 4px 8px;
  align-self: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.694);
  border-radius: 8px;
  font-weight: 500;
  margin-top: 13px;
  margin-left: 0px;
}

.background hr {
  margin-top: 5px;
  width: 98%;
  border: 1px solid rgba(128, 128, 128, 0.318);
}

@media only screen and (max-width:800px) {
  .client-wraphead {
    width: 95%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .2), 0 1px 8px 0px rgba(0, 0, 0, .14), 0px 0px 3px 0 rgba(0, 0, 0, .12);
  }

  .client-taablist th {
    min-width: 20px;
    max-width: 20px;
    text-align: center;

    color: rgba(0, 0, 0, 0.569);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2px;
    white-space: nowrap;
    text-align: left;
    align-self: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .client-taablist td {
    min-width: 20px;
    max-width: 20px;
    text-align: center;

    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.2px;
    white-space: nowrap;
    text-align: left;
    align-self: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .client-taablist th:first-child,
  .client-taablist td:first-child {
    min-width: 5px;
    max-width: 5px;
  }

  .client-taablist th:nth-child(2) {
    min-width: 20px;
    max-width: 20px;
    text-align: left;
    align-self: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .client-taablist td:nth-child(2) {
    max-width: 20px;
    min-width: 20px;
    white-space: nowrap;
    text-align: left;
    align-self: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .client-taablist th:nth-child(3) {
    max-width: 20px;
    min-width: 20px;
    text-align: left;
    align-self: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .client-taablist td:nth-child(3) {
    max-width: 20px;
    min-width: 20px;
    white-space: nowrap;
    text-align: left;
    align-self: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .client-head3 h3 {

    width: 150px;
    color: rgba(5, 5, 5, 0.598);
    font-weight: 500;
    letter-spacing: 0.2px;
    white-space: nowrap;
    text-align: left;
    align-self: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media only screen and (min-width:1500px) {

  .client-table-list-dash {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .client-wraphead {
    width: 90%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .2), 0 1px 8px 0px rgba(0, 0, 0, .14), 0px 0px 3px 0 rgba(0, 0, 0, .12);
  }

  .client-head3 {
    width: 100%;
    height: 60px;
    display: flex;
    border-radius: 10px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    background-color: #f5f8fd;
  }

  .client-head3 h3 {
    width: 200px;
    font-size: 23px;
    margin-left: 0px;
    text-align: left;
    color: rgba(5, 5, 5, 0.598);
    font-weight: 500;
    letter-spacing: 0.2px;
    align-self: center;
    margin-left: 30px;
  }

  .client_search-box {

    width: fit-content;
    height: fit-content;
    margin-bottom: 0px;
    margin-top: -8px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .client_input-search {
    height: 20px;
    width: 700px;
    border-style: none;
    padding: 11px;
    font-size: 16px;
    letter-spacing: 0.1px;
    border-radius: 10px;
    background-color: #c0c0c076;
    padding-right: 40px;
    color: black;
    margin-top: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    white-space: nowrap;
    text-align: left;
    align-self: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .client_input-search::placeholder {
    color: rgb(0, 0, 0);
    font-size: 14px;
    letter-spacing: 0.1px;
    font-weight: 300;
  }

  .client_btn-search {
    width: 35px;
    height: 42px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 0px;
    color: black;
    background-color: #c0c0c076;
    pointer-events: painted;
    margin-top: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .client_btn-search:focus .client_input-search,
  .client_input-search:focus {
    width: 600px;
    border-radius: 0px;
    background-color: #ebefff;
    border-radius: 10px;
    /* outline-color: rgba(88, 191, 255, 0.637); */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    outline: none;
  }

  .client_btn-search_focused{
    width: 35px;
    height: 42px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 0px;
    color: black;
    background-color: #ebefff;
    pointer-events: painted;
    margin-top: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

}
