.client-updatepass {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-size: cover;
}

.client-passnavbar {
    width: 200px;
}

.client-right-updatepass {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.client-leftpass {
    flex: 33%;
}

.wrap-client-updatepass {
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.client-updatepas {
    width: 450px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: black;
}

.client-updatepas label {
    margin-top: 20px;
    align-self: flex-start;
    margin-bottom: 2px;
    margin-top: 18px;
    margin-left: 28px;
    color: rgba(0, 0, 0, 0.694);
    font-size: 15px;
}

.client-updatepas input {
    padding: 10px;
    margin-top: 0px;
    width: 380px;
    border: 1px solid;
    border-radius: 5px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-top: none;
    border-left: none;
    border-right: none;
    align-self: center;
    background-color: #f1f1f1;
    font-size: 15px;
    letter-spacing: 0.4px;
}

.client-updatepas p {
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
    align-self: flex-start;
    text-align: left;
    margin-left: 28px;
    color: rgb(240, 3, 3);
    margin-bottom: 0px;
}

.client-updatepas h5 {
    font-size: 13px;
    font-weight: 400;
    margin-top: -8px;
    align-self: flex-start;
    text-align: left;
    margin-left: 28px;
    color: rgb(240, 3, 3);
    margin-bottom: 0px;
}

.client-updatepas input::placeholder {
    font-size: 14px;
}

.client-updatepas h6{
    font-size: 16px;
    margin-top: 5px;
    padding: 10px;
    width: 70%;
    align-self: center;
    justify-content: start;
    text-align: center;
    color: red;
    border: 1px solid red;
    border-radius: 10px;
    margin-bottom: 0px;
}

.client-updatepas button {
    margin-top: 20px;
    width: 350px;
    font-size: 16px;
    padding: 10px;
    background-color: rgba(88, 191, 255, 0.637);
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 5px;
    border-radius: 5px;
    align-self: center;
}

.client-updatepas button:hover {
    background-color: rgba(88, 191, 255, 0.774);
}

.client-rightpass {
    flex: 33%;
}

.client-updatepas h1 {
    margin-top: -5px;
    font-size: 30px;
    margin-bottom: 10px;
    color: rgba(5, 5, 5, 0.598);
    text-align: center;
    font-weight: 500;
}

.client_notification {
    position: fixed;
    width: 320px;
    height: 40px;
    top: 70px;
    right: 50px;
    background-color: rgba(255, 255, 255);
    border-radius: 5px;
    color: green;
    z-index: 0;
    border: 1px solid green;
    box-shadow: 5px 6px 10px 0px black;
}

.client_notification p {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
    color: green;
    margin-left: 20px;
}

@media only screen and (max-width:600px) {

    .client-updatepas {
        width: 350px;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        color: black;
    }


    .client-updatepas input {
        padding: 10px;
        margin-top: 0px;
        width: 300px;
        border: 1px solid;
        border-radius: 5px;
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
        border-top: none;
        border-left: none;
        border-right: none;
        align-self: center;
        background-color: #f1f1f1;
        font-size: 15px;
        letter-spacing: 0.4px;
    }

    .client-updatepas label {
        margin-top: 20px;
        align-self: flex-start;
        margin-bottom: 2px;
        margin-top: 18px;
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.694);
        font-size: 15px;
    }

}

@media only screen and (max-width:844px) {
    .client-passnavbar {
        width: 70px;
    }
}

@media only screen and (min-width:1500px) {
    .client-passnavbar {
        width: 250px;
    }
}
