.mainpage_reset {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}

.mainpage_isec_logo {
    width: 100%;
    height: 80px;
    display: flex;
}

.mainpage_isec_logo img{
    width: 170px;
    height: 60px;
    margin: 20px 0px 0px 20px;
}

.resetpasswordpage {
    width: 88%;
    align-self: center;
    text-align: center;
    border-bottom: 2px solid rgb(188, 217, 225);
}

.resetpasswordpage h1{
    font-size: 25px;
    color: rgba(5, 5, 5, 0.787);
}

.resetpassword_form{
    width: 450px;
    height: 400px;
    align-self: center;
    margin-top: 20px;
    box-shadow: 2px 1px 4px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.resetpassword {
    padding-top: 20px;
    width: 400px;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.password_inputs label{
    font-size: 15px;
    display: flex;
    margin-left: 45px;
    margin-top: 5px;
}

.password_inputs input{
    width: 300px;
    padding: 10px 8px;
    align-self: center;
    justify-content: center;
    margin-top: 2px;
}

.password_inputs p{
    font-size: 13px;
    margin-top: -7px;
    display: flex;
    margin-left: 45px;
    margin-bottom: 18px;
}

.password_inputs button{
    margin-top: 20px;
    width: 318px;
    font-size: 16px;
    padding: 10px;
    background-color: rgba(88, 191, 255, 0.637);
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 5px;
    border-radius: 5px;
    align-self: center;
    font-family: "IBM Plex Sans", sans-serif;
}

.password_inputs button:hover{
    background-color: rgba(88, 191, 255, 0.774);
}

.password_inputs h2{
    font-size: 14px;
    background-color: green;
    width: 80px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 268px;
    cursor: pointer;
}

.password_inputs .eye-icon{
    margin-top: -35px;
    margin-left: 80%;
    transform: translate(-80%, -220%);
    -moz-fit-content: initial;
    width: 8%;
    cursor: pointer;
    color: #777;
}
