@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #loader {
    border: 6px solid rgba(255, 255, 255, 0.3);
    border-top: 8px double red;
    border-radius: 80%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
