.addproject {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar_add {
    width: 200px;
}

.down-project {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

.addp h1 {
    margin-bottom: 5px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: rgba(5, 5, 5, 0.573);
    font-weight: 500;
}

.leftspace {
    flex: 35%
}

.addp {
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rightspace {
    flex: 35%;
}

.addp label {
    font-size: 15px;
    margin-top: 4px;
    margin-left: 10px;
    align-self: flex-start;
    color: rgba(0, 0, 0, 0.694);
}

.addp input {
    width: 550px;
    height: 30px;
    margin-top: 3px;
    padding: 5px 0px 5px 5px;
    background-color: #f1f1f1;
    font-weight: 400;
}

.addp select {
    width: 558px;
    height: 34px;
    margin-top: 5px;
    font-size: 15px;
    padding-left: 5px;
    background-color: #f1f1f1;
}

.addp option {
    padding: 5px;
    font-size: 14px;
}

.addp select::placeholder {
    font-size: 13px;
    padding-top: 14px;
    font-family: "IBM Plex Sans", sans-serif;
}

.addp button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(88, 191, 255, 0.637);
    font-weight: 400;
    align-self: flex-start;
    cursor: pointer;
    color: black;
    width: 555px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.addp button:hover {
    background-color: rgba(88, 191, 255, 0.774);
}

.addp p {
    font-size: 13px;
    font-weight: 400;
    margin-top: -5px;
    align-self: flex-start;
    text-align: left;
    margin-left: 10px;
    color: rgb(240, 3, 3);
    margin-bottom: 0px;
}

.notification {
    position: absolute;
    width: 320px;
    height: 40px;
    top: 10px;
    right: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: green;
    z-index: 0;
    border: 1px solid green;
    box-shadow: 5px 6px 10px 0px black;
    animation: slide_show 1s ease forwards;
}

@keyframes slideRight {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10%);
    }
}

.notification p {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
    color: green;
    text-align: center;
}

.error_notification {
    position: fixed;
    width: 180px;
    height: 40px;
    top: 50px;
    right: 50px;
    background-color: rgb(255, 255, 255);
    color: red;
    z-index: 0;
    border: 1px solid red;
    border-radius: 5px;
    box-shadow: 5px 6px 10px 0px black;
    animation: slideRight 4s ease-out forwards;
}

.error_notification p {
    margin-top: 9px;
    font-size: 18px;
    font-weight: 500;
    color: red;
}

@media only screen and (max-width:650px) {
    .addp {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }

    .addp label {
        font-size: 15px;
        margin-top: 19px;
        margin-left: 10px;
        align-self: flex-start;
        color: rgba(0, 0, 0, 0.694);
    }

    .addp input {
        width: 90%;
        height: 30px;
        margin-top: 5px;
    }

    .addp select {
        width: 90%;
        margin-top: 5px;
        font-size: 15px;
        height: 34px;
    }

    .addp button {
        margin-top: 20px;
        padding: 10px;
        font-size: 16px;
        background-color: rgba(88, 191, 255, 0.637);
        align-self: flex-start;
        cursor: pointer;
        font-weight: 500;
        width: 90%;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .leftspace {
        display: none;
    }

    .rightspace {
        display: none;
    }
}


@media only screen and (max-width:845px) {
    .navbar_add {
        width: 70px;
    }
}


@media only screen and (min-width:1500px) {

    .navbar_add {
        width: 250px;
    }

    .down-project {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: row;
        margin-top: -10px;
        justify-content: center;
        align-self: center;
    }

    .notification {
        position: absolute;
        width: 320px;
        height: 40px;
        top: 10px;
        right: 20px;
        background-color: rgb(106, 168, 126);
        border-radius: 5px;
        color: green;
        z-index: 0;
        border: 1px solid green;
        box-shadow: 5px 6px 10px 0px black;
        animation: slideRight 1s ease forwards;
    }

    @keyframes slideRight {
        0% {
            transform: translateX(100%);
        }
        40% {
            transform: translateX(-10%);
        }
        80% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-10%);
        }
    }

    .notification p {
        margin-top: 8px;
        font-size: 16px;
        font-weight: 500;
        color: green;
        text-align: center;
    }

}
