.addvulnerability {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-size: cover;
}

.addvuln-navbar {
    width: 200px;
}

.vulnerability_wrap_pagedata {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.add_vulnerability_router {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    height: 40px;
    width: 94%;
    align-self: center;
    margin-left: 0px;
    margin-bottom: -5px;
    border: 1px solid rgb(219, 219, 219);
    border-top: none;
    border-left: none;
    border-right: none;
}

.add_vulnerability_router a {
    font-size: 15px;
    font-weight: 400;
    color: rgba(30, 30, 30, 0.762);
    margin-top: 16px;
    margin-left: 10px;
}

.add_vulnerability_router p {
    margin-left: 10px;
    font-size: 15px;
    margin-top: 16px;
    color: skyblue;
}

.add_vulnerability_router h3 {
    margin-left: 10px;
    font-size: 15px;
    margin-top: 16px;
    font-weight: 300;
    cursor: pointer;
  }

  .add_vulnerability_router h4 {
    margin-left: 10px;
    font-size: 15px;
    margin-top: 16px;
    font-weight: 400;
  }

.wrap_pagedata {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left_space {
    flex: 30%;
}

.wrap_add_vulnerability {
    flex: 36%;
    display: flex;
    flex-direction: column;
}

.wrap_add_vulnerability h1 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 0.2px;
    color: rgba(5, 5, 5, 0.573);
    letter-spacing: 0.2px;
    font-weight: 500;
}

.right_space {
    flex: 30%;
}

.wrap_first_second {
    flex: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-self: center;
}

.first_vulnerability {
    display: flex;
    flex-direction: column;
}

.first_vulnerability label {
    justify-content: flex-start;
    align-self: flex-start;
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.694);
    letter-spacing: 0.2px;
}

.first_vulnerability textarea {
    font-size: 15px;
    max-width: 350px;
    min-width: 350px;
    min-height: 40px;
    max-height: 40px;
    letter-spacing: 0.2px;
    resize: none;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.second-severity {
    display: flex;
    flex-direction: column;
}

.second-severity label {
    justify-content: flex-start;
    align-self: flex-start;
    margin-left: 33px;
    margin-bottom: 10px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.694);
}

.second-severity select {
    width: 265px;
    font-size: 15px;
    padding: 13.5px;
    justify-content: flex-end;
    align-self: flex-end;
    margin-left: 30px;
    color: black;
    background-color: #f1f1f1;
}

.second-severity option {
    padding: 5px;
    font-size: 16px;
}

.third-parameter {
    flex: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 26px;
}

.third-parameter label {
    justify-content: flex-start;
    align-self: flex-start;
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.694);
}

.third-parameter textarea {
    max-width: 650px;
    min-width: 650px;
    min-height: 180px;
    font-size: 15px;
    justify-content: center;
    align-self: center;
    resize: none;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.fourth-recommend {
    flex: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 26px;
}

.fourth-recommend label {
    justify-content: flex-start;
    align-self: flex-start;
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.694);
}

.fourth-recommend textarea {
    max-width: 650px;
    min-width: 650px;
    min-height: 180px;
    font-size: 15px;
    justify-content: center;
    align-self: center;
    resize: none;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.last_image {
    flex: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.last_image label {
    justify-content: flex-start;
    align-self: flex-start;
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.694);
    background-color: #f1f1f1;
}

.last_image input {
    font-size: 15px;
    justify-content: flex-start;
    align-self: flex-start;
    margin-left: 0px;
    color: black;
    background-color: #f1f1f1;
}

.limit {
    font-size: 15px;
    justify-content: flex-start;
    align-self: flex-start;
    margin-top: -28px;
    margin-left: 15px;
}

.wrap_add_vulnerability button {
    font-size: 16px;
    margin-bottom: 80px;
    background-color: rgba(88, 191, 255, 0.637);
    width: 250px;
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
    align-self: center;
    color: black;
}

.wrap_add_vulnerability button:hover {
    background-color: rgba(88, 191, 255, 0.774);
}

.first_vulnerability p {
    justify-content: flex-start;
    align-self: flex-start;
    color: red;
    font-size: 13px;
    font-weight: 400;
    margin-top: -0px;
    margin-bottom: 0px;
}

.second-severity p {
    justify-content: flex-start;
    align-self: flex-start;
    color: red;
    font-size: 13px;
    font-weight: 400;
    margin-top: -0px;
    margin-bottom: 0px;
    margin-left: 32px;
}

.third-parameter p {
    justify-content: flex-start;
    align-self: flex-start;
    color: red;
    font-size: 13px;
    font-weight: 400;
    margin-top: -0px;
    margin-bottom: 0px;
    margin-left: 15px;
}

.fourth-recommend p {
    justify-content: flex-start;
    align-self: flex-start;
    color: red;
    font-size: 13px;
    font-weight: 400;
    margin-top: -0px;
    margin-bottom: 0px;
    margin-left: 15px;
}

.last_image p {
    justify-content: flex-start;
    align-self: flex-start;
    color: red;
    font-size: 13px;
    font-weight: 400;
    margin-top: 3px;
    margin-bottom: 0px;
    margin-left: 15px;
}



.waiting_page {
    background-color: rgba(0, 0, 0, 0.603);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
}

.wrap_Waiting {
    background-color: white;
    width: 300px;
    height: 170px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    text-align: center;
    color: black;
}

.wrap_Waiting p {
    font-size: 15px;
    color: black;
    font-weight: 400;
}

#loaderPage {
    width: 48px;
    height: 48px;
    margin-top: 30px;
    position: relative;
}

#loaderPage:before,
#loaderPage:after {
    content: "";
    display: block;
    border: 24px solid transparent;
    border-color: transparent transparent rgb(53, 51, 51) rgb(53, 51, 51);
    position: absolute;
    left: 120px;
    top: 0;
    animation: mvx 1s infinite ease-in;
}

#loaderPage:before {
    left: 120px;
    top: 1px;
    border-color: rgb(238, 163, 50) rgb(238, 163, 50) transparent transparent;
    animation-name: mvrx;
}

@keyframes mvx {

    0%,
    25% {
        transform: translate(0, 0) rotate(0deg)
    }

    50% {
        transform: translate(-50%, 50%) rotate(180deg)
    }

    100% {
        transform: translate(0%, 0%) rotate(180deg)
    }
}

@keyframes mvrx {

    0%,
    25% {
        transform: translate(0, 0) rotate(0deg)
    }

    50% {
        transform: translate(50%, -50%) rotate(180deg)
    }

    100% {
        transform: translate(0%, 0%) rotate(180deg)
    }
}

@media only screen and (max-width:730px) {

    .left_space {
        display: none;
    }

    .right_space {
        display: none;
    }

    .wrap_first_second {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        justify-content: center;
        align-self: center;
        margin-left: 0px;
    }

    .first_vulnerability label {
        justify-content: flex-start;
        align-self: flex-start;
        margin-left: 20px;
        margin-bottom: 2px;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.694);
        letter-spacing: 0.2px;
    }

    .first_vulnerability textarea {
        font-size: 16px;
        max-width: 80%;
        min-width: 80%;
        min-height: 40px;
        max-height: 40px;
        margin-left: 20px;
    }

    .second-severity label {
        justify-content: flex-start;
        align-self: flex-start;
        margin-left: 20px;
        margin-bottom: 2px;
        font-size: 15px;
        margin-top: 10px;
    }

    .second-severity select {
        width: 81%;
        font-size: 15px;
        padding: 10px;
        justify-content: flex-start;
        align-self: flex-start;
        margin-left: 20px;
    }

    .second-severity option {
        padding: 5px;
        font-size: 18px;
        width: 80%;
    }

    .third-parameter {
        flex: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    .third-parameter label {
        justify-content: flex-start;
        align-self: flex-start;
        margin-left: 20px;
        margin-bottom: 2px;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.694);
    }

    .third-parameter textarea {
        max-width: 80%;
        min-width: 80%;
        min-height: 180px;
        font-size: 16px;
        justify-content: flex-start;
        align-self: flex-start;
        margin-left: 20px;
    }

    .fourth-recommend {
        flex: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .fourth-recommend label {
        justify-content: flex-start;
        align-self: flex-start;
        margin-left: 20px;
        margin-bottom: 2px;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.694);
    }

    .fourth-recommend textarea {
        max-width: 80%;
        min-width: 80%;
        min-height: 180px;
        font-size: 16px;
        justify-content: flex-start;
        align-self: flex-start;
        margin-left: 20px;
    }

    .last_image {
        flex: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 20px;
        color: black;
    }

    .last_image label {
        justify-content: flex-start;
        align-self: flex-start;
        margin-left: 20px;
        margin-bottom: 2px;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.694);
        background-color: #f1f1f1;
    }

    .last_image input {
        font-size: 15px;
        justify-content: flex-start;
        align-self: flex-start;
        margin-left: 20px;
        width: 80%;
        color: black;
        background-color: #f1f1f1;
    }

    .second-severity p {
        justify-content: flex-start;
        align-self: flex-start;
        color: red;
        font-size: 13px;
        font-weight: 400;
        margin-top: -5px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media only screen and (max-width:842px) {

    .addvuln-navbar {
        width: 70px;
    }
}

@media only screen and (max-width:900px) {

    .vulnerability_wrap_pagedata {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: 30px;
    }
}

@media only screen and (min-width:1500px) {
    .addvuln-navbar {
        width: 250px;
    }
}
