
.custom-select {
    position: relative;
    width: 150px;
    border: 1px solid rgba(133, 133, 133, 0.332);
    text-align: left;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .custom-select select {
    display: none;
  }

  .select-selected {
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: black;
    font-size: 16px;
  }

  .select-items {
    position: absolute;
    background-color: #fbfbfb;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 200px;
    z-index: 1;
    color :black;
    text-align: left;
    font-size: 16px;
    width: 150px;
  }

  .select-items div {
    padding: 10px;
    cursor: pointer;
    color: black;
  }

  .select-items div:hover {
    background-color: #8fdcfdc3;
  }

  .arrow-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 12px;
    color: rgba(30, 30, 30, 0.762);
    border: 2px solid rgba(133, 133, 133, 0.332);
    border-top: none;
    border-right: none;
    border-bottom: none;
    height: 20px;
    padding-left: 5px;
}
