.new_navbar {
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(111, 111, 111, 0.976);
  color: white;
  box-shadow: 0 0 3px 2px rgb(0, 0, 0, 0.25);
  position: fixed;
  transition: all 50ms ;
}

.navbar_image {
  flex: 12%;
  width: 100%;
  height: 130px;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: flex;
}

.navbar_image img {
  width: 160px;
  align-self: center;
  align-items: center;
}

.new_navbar_links {
  flex: 80%;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.new_navbar_links a {
  text-align: left;
  font-size: 14px;
  color: rgb(243, 243, 243);
  padding: 13px 8px;
  font-weight: 500;
  margin-top: 10px;
}

.new_navbar_links a:hover {
  background-color: rgba(172, 172, 172, 0.586);
  border-radius: 5px;

}

.user_profile_newnavbar {
  flex: 12%;
  display: flex;
  margin-left: 15px;
  width: 100%;
}

.user_profile_newnavbar h4 {
  background-color: rgba(88, 191, 255, 0.637);
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin: 0;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  font-weight: 500;
}

.user_profile_newnavbar p {
  font-size: 16px;
  justify-content: center;
  align-self: center;
  text-align: left;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.reduced_new_navbar {
  width: 70px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(111, 111, 111, 0.976);
  color: white;
  box-shadow: 0 0 3px 2px rgb(0, 0, 0, 0.25);
  position: fixed;
  transition: all 400ms ;
}

.reduced_navbar_image {
  flex: 12%;
  width: 100%;
  height: 130px;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: flex;
}

.reduced_navbar_image img {
  width: 50px;
  align-self: center;
  align-items: center;
}

.reduced_new_navbar_links {
  flex: 80%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.reduced_new_navbar_links a {
  text-align: center;
  font-size: 18px;
  color: rgb(243, 243, 243);
  padding: 13px 8px;
  font-weight: 500;
  margin-top: 10px;
}

.reduced_new_navbar_links a:hover {
  background-color: rgba(172, 172, 172, 0.586);
  border-radius: 5px;

}

.reduced_user_profile_newnavbar {
  flex: 12%;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
}

.reduced_user_profile_newnavbar h4 {
  background-color: rgba(88, 191, 255, 0.637);
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin: 0;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  font-weight: 500;
}

.dashboard_hover {
  position: absolute;
  background-color: black;
  color: white;
  width: 80px;
  padding: 0 10px;
  border-radius: 5px;
  height: 40px;
  display: none;
  margin-left: 66px;
  margin-top: 13px;
}

.dashboard_hover::before {
  content: '';
  position: absolute;
  top: 12px;
  right: 80px;
  transform: translateX(-100%);
  border-width: 9px 9px 9px 9px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.dashboard_hover p {
  margin-top: 11px;
  font-size: 14px;
}

.reduced_new_navbar_links {
  position: relative;
}

.reduced_new_navbar_links:hover .dashboard_hover {
  display: block;
}

.project_hover {
  position: absolute;
  background-color: black;
  color: white;
  width: 80px;
  padding: 0 10px;
  border-radius: 5px;
  height: 40px;
  display: none;
  margin-left: 66px;
  margin-top: 70px;
}

.project_hover::before {
  content: '';
  position: absolute;
  top: 12px;
  right: 80px;
  transform: translateX(-100%);
  border-width: 9px 9px 9px 9px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.project_hover p {
  margin-top: 11px;
  font-size: 14px;
}

.reduced_new_navbar_links {
  position: relative;
}

.reduced_new_navbar_links:hover .project_hover {
  display: block;
}

.generate_report {
  position: absolute;
  background-color: black;
  color: white;
  width: 120px;
  padding: 0 10px;
  border-radius: 5px;
  height: 40px;
  display: none;
  margin-left: 66px;
  margin-top: 133px;
  justify-content: center;
}

.generate_report::before {
  content: '';
  position: absolute;
  top: 12px;
  right: 120px;
  transform: translateX(-100%);
  border-width: 9px 9px 9px 9px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.generate_report p {
  margin-top:11px;
  font-size: 14px;

}

.reduced_new_navbar_links {
  position: relative;
}

.reduced_new_navbar_links:hover .generate_report {
  display: block;
  font-size: 14px;
}

.messenger_hover {
  position: absolute;
  background-color: black;
  color: white;
  width: 80px;
  padding: 0 10px;
  border-radius: 5px;
  height: 40px;
  display: none;
  margin-left: 66px;
  margin-top: 192px;
}

.messenger_hover::before {
  content: '';
  position: absolute;
  top: 12px;
  right: 80px;
  transform: translateX(-100%);
  border-width: 9px 9px 9px 9px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.messenger_hover p {
  margin-top: 11px;
  font-size: 14px;
}

.reduced_new_navbar_links {
  position: relative;
}

.reduced_new_navbar_links:hover .messenger_hover {
  display: block;
}

.update_hover {
  position: absolute;
  background-color: black;
  color: white;
  width: 120px;
  padding: 0 10px;
  border-radius: 5px;
  height: 40px;
  display: none;
  margin-left: 66px;
  margin-top: 251px;
}

.update_hover::before {
  content: '';
  position: absolute;
  top: 12px;
  right: 120px;
  transform: translateX(-100%);
  border-width: 9px 9px 9px 9px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.update_hover p {
  margin-top: 11px;
  font-size: 14px;
}

.reduced_new_navbar_links {
  position: relative;
}

.reduced_new_navbar_links:hover .update_hover {
  display: block;
}

.logout_hover {
  position: absolute;
  background-color: black;
  color: white;
  width: 80px;
  padding: 0 10px;
  border-radius: 5px;
  height: 40px;
  display: none;
  margin-left: 66px;
  margin-top: 310px;
}

.logout_hover::before {
  content: '';
  position: absolute;
  top: 12px;
  right: 80px;
  transform: translateX(-100%);
  border-width: 9px 9px 9px 9px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.logout_hover p {
  margin-top: 11px;
  font-size: 14px;
}

.reduced_new_navbar_links {
  position: relative;
}

.reduced_new_navbar_links:hover .logout_hover {
  display: block;
}

.username_hover {
  position: absolute;
  background-color: black;
  color: white;
  min-width: 100px;
  padding: 0 10px;
  border-radius: 5px;

  display: none;
  margin-left: 200px;
  margin-top: 20px;
}

.username_hover::before {
  content: '';
  position: absolute;
  top: 12px;
  right: 100px;
  transform: translateX(-100%);
  border-width: 9px 9px 9px 9px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.username_hover p {
  margin-top: 11px;
  font-size: 14px;
}

.reduced_user_profile_newnavbar {
  position: relative;
}

.reduced_user_profile_newnavbar:hover .username_hover {
  display: block;
}

.isec_confirmation_logout {
  background-color: rgba(0, 0, 0, 0.388);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
}

.isec_content_logout {
  background-color: white;
  width: 450px;
  height: 200px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  color: black;
}

.isec_content_logout p {
  font-size: 17px;
  font-weight: 400;
  margin-top: 25px;
  color: black;
  text-align: center;
}

.isec_logout_header {
  background-color: skyblue;
  /* margin-top: -10px; */
  text-align: start;
  justify-content: center;
}

.isec_logout_header h2 {
  margin-top: 0px;
  padding: 12px;
  font-size: 18px;
  margin-left: 20px;
}

.isec_cancel_logout {
  background-color: white;
  border: 1px solid rgba(88, 191, 255, 0.637);
  color: black;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
  margin: 0 20px;
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  font-family: "IBM Plex Sans", sans-serif;

}

.isec_confirm_logout {
  background-color: rgba(88, 191, 255, 0.637);
  color: black;
  border: 1px solid rgba(88, 191, 255, 0.637);
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
  margin: 0 10px;
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  font-family: "IBM Plex Sans", sans-serif;
}

.isec_confirm_logout:hover {
  background-color: rgba(88, 191, 255, 0.774);
  cursor: pointer;
}

.isec_cancel_logout:hover {
  background-color: rgba(88, 191, 255, 0.774);
}


@media only screen and (min-width:1500px){
  .new_navbar {
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(111, 111, 111, 0.976);
    color: white;
    box-shadow: 0 0 3px 2px rgb(0, 0, 0, 0.25);
    position: fixed;
    transition: all 50ms ;
  }

  .new_navbar_links {
    flex: 80%;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .user_profile_newnavbar {
    flex: 12%;
    display: flex;
    margin-left: 25px;
    width: 100%;
  }

}
