.chat_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.statusnavbar {
    width: 200px;
    z-index: 999;
}

.wrap_isecurion_chat {
    width: 88%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #f1f1f1;
}

.wrap_list {
    min-width: 300px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-left: none;
    border-top: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    background-color: #f5f8f9;
    z-index: 1;
}

.isecurion {
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-right: none;
    border-left: none;
    border-top: none;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    height: 67px;
    background-color: #f5f8f9;
}

.isecurion h1 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.input-search {
    height: 20px;
    width: 0px;
    border-style: none;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 0.1px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #ffff;
    border: 1px solid rgb(86, 86, 86);
    padding-right: 40px;
    color: black;
    margin-top: 10px;
}

.input-search::placeholder {
    color: black;
    font-size: 14px;
    letter-spacing: 0.1px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: red;
    background-color: transparent;
    pointer-events: painted;
    margin-top: 5px;
}

.btn-search:focus~.input-search {
    width: 150px;
    border: 1px solid rgb(86, 86, 86);
    border-radius: 0px;
    background-color: #ffff;
    border-radius: 10px;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 150px;
    border: 1px solid rgb(86, 86, 86);
    border-radius: 0px;
    background-color: #ffff;
    border-radius: 10px;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.client_list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
    overflow-y: visible;
    overflow-x: hidden;
    align-self: center;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.client_list::-webkit-scrollbar {
    width: 10px;
}

.client_list::-webkit-scrollbar-thumb {
    background-color: #f5f8f9;
    border-radius: 5px;
}

.client_list::-webkit-scrollbar-thumb:hover {
    background-color: #f5f8f9;
}

.client_list::-webkit-scrollbar-track {
    background-color: transparent;
}

.client_list p {
    font-size: 13px;
    align-self: flex-start;
    margin-bottom: 0px;
    margin-left: 25px;
    font-weight: bold;
    color: grey;
}

.client_list .profile {
    width: 250px;
    height: 60px;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    background-color: #ffff;
    cursor: pointer;
    position: relative;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    margin-bottom: 2px;
}

.profile.highlighted {
    background-color: #b8eaff8a;
}

.profile h4 {
    margin-left: 8px;
    width: 40px;
    background-color: rgb(59, 123, 161);
    height: 40px;
    border-radius: 50%;
    align-self: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    color: white;
}

.profile p {
    margin-left: 12px;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.profile h5 {
    font-size: 12px;
    top: 10px;
    left: 25%;
    position: absolute;
    font-weight: 400;
}

.client_list .profile:hover {
    background-color: rgb(231, 231, 231);
    box-shadow: 0 2px 1px 0px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0px rgba(0, 0, 0, .12);
    border-left: none;
    border-top: none;
    border-bottom: none;
    transition: 0.2s ease-in-out;
}

.client_list .profile h3 {
    font-size: 11px;
    top: 0%;
    right: 5%;
    position: absolute;
    font-weight: 500;
}

.state_chat {
    width: 100%;
}

.wrap_chat {
    flex: 80%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.clint_chat_name {
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    height: 64px;
    background-color: #f5f8f9;
}

.clint_chat_name h4 {
    margin-left: 8px;
    width: 40px;
    background-color: rgb(59, 123, 161);
    height: 40px;
    border-radius: 50%;
    align-self: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
    color: white;
    margin-top: 6px;
}

.client_inbox {
    height: 65px;
    background-color: #f8faff;
}

.client_inbox h1 {
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    color: rgb(74, 74, 74);
    transition: 10s ease-in-out;
}

.client_inbox p {
    font-size: 14px;
    text-align: left;
    padding-left: 80px;
    margin-top: -22px;
}

.client_inbox hr {
    width: 98%;
    margin-top: -11px;
}

.empty_page{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: #f1f1f1;
    display: flex;
}

.empty_page img{
    width: fit-content;
    height: fit-content;
}

.main_chat {
    flex: 70%;
    overflow-y: auto;
    background-color: #ede9e9;
    display: flex;
    flex-direction: column;
}

.main_chat::-webkit-scrollbar {
    width: 10px;
}

.main_chat::-webkit-scrollbar-thumb {
    background-color: #e8e8e8;
    border-radius: 5px;
}

.main_chat::-webkit-scrollbar-thumb:hover {
    background-color: #afafaf;
}

.main_chat::-webkit-scrollbar-track {
    background-color: transparent;
}

.message-right,
.message-left{
    max-width: 45%;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
}

.message-left {
    align-self: flex-end;
    margin-top: 15px;
    border-radius: 20px;
    padding: 0 10px;
    margin-bottom: 5px;
}

.message-left p{
    font-size: 15px;
    padding: 0px 25px 0px 12px;
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 7px;
    text-align: left;
}

.message-left .wrap-data {
    display: flex;
    flex-direction: column;
    background-color: rgb(134, 204, 134);
    padding:0 5px;
    border-radius:12px;
    border-bottom-right-radius: 0%;
    min-width: 100px;
    min-height: 50px;
    border: 1px solid rgba(96, 160, 96, 0.57);
}

.message-left .time_username{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.message-left .time_username h5{
    font-size: 12px;
    font-weight: 500;
    flex: 75%;
    margin-bottom: 0px;
    color: black;
    margin-right: 5px;
    margin-top: -7px;
    text-align: right;
}

.message-left  h6{
    font-size: 11px;
    width: 80px;
    color: rgba(0, 0, 0, 0.659);
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: transparent;
    padding: 0;
    align-self: flex-end;
    text-align: left;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
}

.message-left .profile-h4 h4{
    margin-left: 2px;
    margin-right: -10px;
    width: 35px;
    background-color: rgb(94, 183, 210);
    height: 35px;
    border-radius: 50%;
    align-self: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
    color: white;
    margin-top: 0px;
}

.message-right {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
    text-align: left;
    margin-top: 15px;
    border-radius: 20px;
    padding: 0 0px;
    margin-bottom: 5px;
}

.message-right p{
    font-size: 15px;
    padding: 0px 10px;
    border-radius: 20px;
    text-align: left;
    word-break: break-all;
}

.message-right .wrap-data {
    display: flex;
    flex-direction: column;
    background-color:rgb(206, 206, 206);
    padding:0 10px;
    border-radius:12px;
    border-top-left-radius: 0%;
    margin-left: 12px;
    min-width: 70px;
    border: 1px solid rgba(122, 122, 122, 0.216);
}

.message-right .profile-h4 h4{
    margin-right: -10px;
    width: 35px;
    background-color: rgb(32, 35, 23);
    height: 35px;
    border-radius: 50%;
    align-self: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
    color: white;
    margin-top: 0px;
}

.message-right .time_username h5{
    font-size: 14px;
    flex: 30%;
    font-weight: 500;
    margin-bottom: 0px;
    color: black;
    margin-right: 5px;
    margin-top: 0;
    text-align: right;
}

.message-right   h6{
    font-size: 11px;
    color: rgba(0, 0, 0, 0.659);
    border: none;
    margin-top: 0px;
    margin-bottom: -12px;
    background-color: transparent;
    padding: 0px;
    align-self: flex-end;
    text-align: right;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
}

.chat_options {
    height: 100px;
    width: 100%;
    background-color: #f5f8f9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.chat_options hr {
    width: 98%;
    margin-top: 0;
}

.chat_options textarea {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    font-size: 16px;
    padding-left: 10px;
    align-self: center;
    justify-content: center;
    border: none;
    overflow-y: hidden;
    resize: none;
}

.chat_options textarea:focus {
    outline-color: rgba(88, 191, 255, 0.637);
}

.chat_options button {
    width:46px;
    height: 50px;
    align-self: center;
    justify-content: center;
    padding-top: 8px;
    font-size: 23px;
    margin-left: 10px;
    border: none;
    color: white;
    background-color: #15974f;
    cursor: pointer;
    border-radius: 10px;

}

.messenger_error{
    position: fixed;
    width: fit-content;
    height: 40px;
    top: 70px;
    right: 50px;
    background-color: rgba(255, 255, 255);
    border-radius: 5px;
    z-index: 0;
    font-weight: bold;
    border: 1px solid red;
    box-shadow: 5px 6px 10px 0px black;
}

.messenger_error p {
    font-weight: 500;
    font-size: 16px;
    margin-top: 9px;
    padding: 0 19px;
    color: red;
}

.empty_chat_message{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.empty_chat_message img{
    min-width: 40%;
    max-width: 500px;
    align-self: center;
}

.empty_chat_message h1{
    font-size: 22px;
    color: rgba(5, 5, 5, 0.573);
    text-align: center;
    margin-top: 400px;
}

@media only screen and (max-width:844px){
    .statusnavbar {
        width: 70px;
    }

    .wrap_isecurion_chat {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
}



@media only screen and (max-width:1100px){

    .main_chat {
        flex: 70%;
        overflow-y: auto;
        background-color: #ede9e9;
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
    }
    .message-right,
    .message-left{
        max-width: 300px;
        color: black;
        margin-top: 0px;
        margin-bottom:10px;
        font-size: 16px;
        word-wrap: break-word;
        display: flex;
        flex-direction: row;
    }

}

@media only screen and (min-width:1500px){

    .statusnavbar {
        width: 250px;
        z-index: 999;
    }

    .wrap_list {
        min-width: 450px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
        border-left: none;
        border-top: none;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        background-color: #f8faff;
        z-index: 1;
    }

    .isecurion {
        width: 100%;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
        border-right: none;
        border-left: none;
        border-top: none;
        justify-content: center;
        align-items: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        height: 67px;
        background-color: #c5eaffa9;
    }

    .isecurion h1 {
        width: 100%;
        text-align: center;
        align-self: center;
        justify-content: center;
        margin-left: 0px;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .search-box {
        width: fit-content;
        height: fit-content;
        position: relative;
        margin-bottom: 0px;
        margin-top: 0px;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .input-search {
        height: 20px;
        width: 0px;
        border-style: none;
        padding: 10px;
        font-size: 16px;
        letter-spacing: 0.1px;
        outline: none;
        border-radius: 25px;
        transition: all .5s ease-in-out;
        background-color: #ffff;
        padding-right: 40px;
        color: black;
        margin-top: 10px;
    }

    .input-search::placeholder {
        color: black;
        font-size: 14px;
        letter-spacing: 0.1px;
        font-weight: 100;
    }

    .btn-search {
        width: 50px;
        height: 50px;
        border-style: none;
        font-size: 18px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        color: black;
        background-color: transparent;
        pointer-events: painted;
        margin-top: 5px;
    }

    .btn-search:focus~.input-search {
        width: 200px;
        border-radius: 0px;
        background-color: #ffff;
        border-radius: 10px;
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }

    .input-search:focus {
        width: 200px;
        border-radius: 0px;
        background-color: #ffff;
        border: none;
        border-radius: 10px;
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }

    .client_list {
        display: flex;
        flex-direction: column;
        gap: 18px;
        width: 100%;
        overflow-y: scroll;
        margin: 10px auto;
        overflow-x: hidden;
        align-self: center;
        text-align: center;
        align-items: center;
        margin-bottom: 20px;

    }

    .client_list::-webkit-scrollbar {
        width: 10px;
    }

    .client_list::-webkit-scrollbar-thumb {
        background-color: #e8e8e8;
        border-radius: 5px;
    }

    .client_list::-webkit-scrollbar-thumb:hover {
        background-color: #afafaf;

    }

    .client_list::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .client_list p {
        font-size: 15px;
        align-self: flex-start;
        margin-bottom: 10px;
        margin-left: 35px;
        font-weight: bold;
        color: grey;
    }

    .client_list .profile {
        width: 350px;
        height: 80px;
        display: flex;
        flex-direction: row;
        margin-top: 0px;
        background-color: #ffff;
        cursor: pointer;
        position: relative;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 5px;
        margin-bottom: 2px;
    }

    .profile.highlighted {
        background-color: #b8eaff8a;
    }

    .profile h4 {
        margin-left: 8px;
        width: 44px;
        background-color: rgb(59, 123, 161);
        height: 44px;
        border-radius: 50%;
        align-self: center;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 20px;
        color: white;
    }

    .profile p {
        margin-left: 25px;
        margin-top: 15px;
        font-size: 16px;
        font-weight: 400;
        color: black;
    }

    .profile h5 {
        font-size: 13px;
        top: 23px;
        left: 80px;
        position: absolute;
        font-weight: 400;
    }

    .client_list .profile:hover {
        background-color: rgb(231, 231, 231);
        box-shadow: 0 2px 1px 0px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0px rgba(0, 0, 0, .12);
        border-left: none;
        border-top: none;
        border-bottom: none;
        transition: 0.2s ease-in-out;
    }

    .client_list .profile h3 {
        font-size: 11px;
        top: 0%;
        right: 5%;
        position: absolute;
        font-weight: 500;
    }

    .state_chat {
        width: 100%;
    }

    .message-right .wrap-data {
        display: flex;
        flex-direction: column;
        background-color:rgb(206, 206, 206);
        padding:0 10px;
        border-radius:12px;
        border-top-left-radius: 0%;
        margin-left: 35px;
        min-width: 70px;
        border: 1px solid rgba(122, 122, 122, 0.216);
    }

    .message-left {
        align-self: flex-end;
        margin-top: 15px;
        border-radius: 20px;
        padding: 0 10px;
        margin-bottom:0px;
        margin-right: 25px;
    }

    .empty_chat_message{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .empty_chat_message img{
        min-width: 40%;
        max-width: 500px;
        align-self: center;
    }

    .empty_chat_message h1{
        font-size: 22px;
        color: rgba(5, 5, 5, 0.573);
        text-align: center;
        margin-top: 600px;
    }


}
