.on-status {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f1f1f1;
  overflow: hidden;
}

.status_newnavbar {
  width: 210px;
}

.wrap_route_header {
  display: flex;
  margin-top: 8px;
  height: 40px;
  width: 94%;
  align-self: center;
  margin-left: 0px;
  margin-bottom: -5px;
  border: 1px solid rgb(219, 219, 219);
  border-top: none;
  border-left: none;
  border-right: none;
}

.wrap_route_header a {
  font-size: 15px;
  font-weight: 400;
  color: rgba(30, 30, 30, 0.762);
  margin-top: 16px;
}

.wrap_route_header p {
  margin-left: 10px;
  font-size: 15px;
  margin-top: 16px;
  color: skyblue;
}

.wrap_route_header h3 {
  margin-left: 10px;
  font-size: 15px;
  margin-top: 16px;
  font-weight: 400;
}

.wrap_statusdown {
  width: 94%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.status_router {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrap_statusdown hr {
  color: black;
}

.statusdown {
  width: 95%;
  display: flex;
  flex-direction: row;
  background-color: #ffff;
  justify-content: center;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  margin-top: 30px;
}

.status_vulnerability_table {
  width: 95%;
  display: flex;
  background-color: #ffff;
  border-radius: 10px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.wrap_left_data {
  width: 50%;
  justify-content: center;
}

.first {
  width: 95%;
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid #e1e1e1;
}

.pro-name {
  width: 250px;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-top: 5px;
}

.pro-name h1 {
  font-size: 19px;
  font-weight: 500;
  color: rgba(30, 30, 30, 0.762);
  margin-left: 20px;
}

.pro-status {
  flex: 60%;
  justify-content: center;
  align-self: center;
  font-size: 20px;
}

.pro-status .icon {
  font-size: 16px;
  margin-left: 2px;
  cursor: pointer;
  padding: 5px;
  color:rgb(1, 162, 255);
}

.pro-status .icon:hover {
  color:rgb(91, 155, 192);
  cursor: pointer;
}

.pro-status select {
  font-size: 18px;
  background-color: white;
  font-weight: 400;
  border: none;
  padding: 6px 7px;
  margin-top: 10px;
  width: fit-content;
}

.pro-status option {
  background-color: white;
}

.pro-status select:focus {
  outline: none;
}

.pro-status .edit_option {
  color: rgb(238, 24, 24);
  background-color: white;
  border: none;
  font-size: 20px;
  height: 60px;
}

.edit_option p {
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
}

.wrap_status_button {
  position: relative;
  margin-left: 45px;
  font-family: "IBM Plex Sans", sans-serif;
}

.pro-status .confirm_click {
  font-size: 15px;
  position: absolute;
  display: inline-block;
  padding: 5px 15px 5px 15px;
  background-color: rgba(88, 191, 255, 0.637);
  border: none;
  cursor: pointer;
  font-weight: 400;
  border-radius: 5px;
  color: black;
  margin-top: 5px;
  margin-left: -10px;
  font-family: "IBM Plex Sans", sans-serif;
}

.pro-status .cancel_click {
  font-size: 15px;
  position: absolute;
  padding: 5px 10px 5px 10px;
  background-color: rgb(219, 219, 219);
  cursor: pointer;
  font-weight: 400;
  border-radius: 5px;
  border: none;
  color: black;
  margin-top: 5px;
  margin-left: -100px;
  font-family: "IBM Plex Sans", sans-serif;
}

.pro-status .confirm_click:hover {
  background-color: rgba(88, 191, 255, 0.774);
}

.pro-status .cancel_click:hover {
  background-color: rgba(88, 191, 255, 0.774);
}


.wrapmiddle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  margin-top: 20px;
}

.pro-client {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  /* text-align: left; */
  margin-left: 15px;
}

.pro-client p {
  font-size: 16px;
  color: black;
}

.client-name {
  display: flex;
  flex-direction: row;
  text-align: justify;
}

.client-name p {
  font-size: 15px;
}

.client-name h4 {
  margin-left: 50px;
  font-weight: 400;
  font-size: 15px;
  margin-top: 16px;
  text-transform: uppercase;
}

.start-date {
  display: flex;
  flex-direction: row;
  text-align: justify;
}


.start-date p {
  font-size: 15px;
  margin-top: 0px;
}

.start-date h4 {
  margin-left: 65px;
  font-weight: 400;
  font-size: 15px;
  margin-top: 0px;
  text-transform: uppercase;
}

.pro-data {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  /* text-align: left; */
  margin-left: 15px;
}

.pro-data p {
  font-size: 15px;
  color: black;

}

.application-type {
  display: flex;
  flex-direction: row;
  text-align: justify;
}

.application-type p {
  font-size: 15px;
  margin-top: 2px;
}

.application-type h4 {
  margin-left: 18px;
  font-weight: 400;
  font-size: 15px;
  margin-top: 3px;
  text-transform: uppercase;
}

.end-date {
  display: flex;
  flex-direction: row;
  text-align: justify;
}

.end-date p {
  font-size: 15px;
  margin-top: 5px;
}

.end-date h4 {
  margin-left: 73px;
  font-weight: 400;
  font-size: 15px;
  margin-top: 5px;
  text-transform: uppercase;
}

.client_email {
  display: flex;
  flex-direction: row;
  text-align: justify;
  margin-left: 15px;
}

.client_email p {
  font-size: 15px;
  margin-top: 1px;
}

.client_email h4 {
  margin-left: 52px;
  font-weight: 400;
  font-size: 15px;
  margin-top: 1px;
}

.docName ul {
  margin-left: 0px;
  margin-bottom: 10px;
}

.wrap-right_data {
  width: 35%;
  justify-content: flex-start;
  align-self: flex-start;
  text-align: start;
}

.wrap-doc-upload {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wrap-doc-upload h2 {
  font-size: 20px;
  color: rgba(5, 5, 5, 0.573);
  text-align: left;
  font-weight: 500;
}

.file-input-container {
  margin: 20px 0;
  width: 90%;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7f2ffbd;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border: 2px dotted #58BFFFA2;
  border-radius: 5px;
}

.file-input-label {
  display: inline-block;
  padding: 8px 20px;
  background-color: #58BFFFA2;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
}

.file-input-label:hover {
  background-color: rgba(88, 191, 255, 0.774);
}

.file-input-container h2 {
  font-size: 18px;
  text-align: center;
  margin-top: 0px;
}


.drop-area-description {
  margin-top: 10px;
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.file-input {
  display: none;
}

.file-input-container .dragging {
  width: 100%;
  height: 180px;
}

.upload-button {
  padding: 8px 20px;
  background-color: #58BFFFA2;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
}

.upload-button {
  background-color: rgba(88, 191, 255, 0.774);
}

.last_status_doc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  text-align: left;
}

.uploaded_doc {
  font-size: 20px;
  color: rgba(5, 5, 5, 0.573);
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 500;
}


.last_status_doc {
  width: 25%;
}

@media only screen and (min-width:1500px) {

  .status_newnavbar {
    width: 260px;
  }

  .wrap_route_header {
    display: flex;
    margin-top: 8px;
    height: 40px;
    width: 90%;
    align-self: center;
    margin-left: 0px;
    margin-bottom: -5px;
    border: 1px solid rgb(219, 219, 219);
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .statusdown {
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: #ffff;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    margin-top: 30px;
  }

  .status_vulnerability_table {
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: #ffff;
    border-radius: 10px;
    margin-top: 30px;
  }

  .pro-client {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    /* text-align: left; */
    margin-left: 15px;

  }

  .pro-data {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    /* text-align: left; */
    margin-left: 15px;
  }

  .client-name {
    display: flex;
    flex-direction: row;
    text-align: justify;
  }

  .client-name p {
    font-size: 15px;
  }

  .client-name h4 {
    margin-left: 50px;
    font-weight: 400;
    font-size: 15px;
    margin-top: 17px;
    text-transform: uppercase;
  }

  .start-date {
    display: flex;
    flex-direction: row;
    text-align: justify;
  }

  .start-date p {
    font-size: 15px;
    margin-top: 0px;
  }

  .start-date h4 {
    margin-left: 65px;
    font-weight: 400;
    font-size: 15px;
    margin-top: 0px;
    text-transform: uppercase;
  }

  .application-type {
    display: flex;
    flex-direction: row;
    text-align: justify;
    margin-top: 6px;
  }

  .application-type p {
    font-size: 15px;
    margin-top: 10px;
  }

  .application-type h4 {
    margin-left: 18px;
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
    text-transform: uppercase;
  }

  .end-date {
    display: flex;
    flex-direction: row;
    text-align: justify;
  }

  .end-date p {
    font-size: 15px;
    margin-top: 0px;
  }

  .end-date h4 {
    margin-left: 73px;
    font-weight: 400;
    font-size: 15px;
    margin-top: 0px;
    text-transform: uppercase;
  }

}

@media only screen and (max-width:1100px) {

  .wrap_statusdown {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

}

@media only screen and (max-width:950px) {
  .statusdown {
    width: 95%;
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    margin-top: 30px;
    margin-right: -15px;
  }

  .pro-name {
    flex: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-top: 5px;
  }

  .pro-name h1 {
    font-size: 20px;
    font-weight: 500;
    color: rgba(30, 30, 30, 0.762);
    margin-left: 20px;
  }

  .pro-status {
    flex: 50%;
    justify-content: center;
    align-self: center;
    font-size: 20px;
  }

  .wrap_left_data {
    width: 90%;
    justify-content: center;
    align-self: center;
    text-align: center;

  }

  .wrap_status_button {
    position: relative;
    margin-left: 45px;
  }

  .pro-client {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    /* text-align: left; */
    margin-left: 15px;
  }

  .pro-data {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    /* text-align: left; */
    margin-left: 15px;
  }

  .client-name {
    display: flex;
    flex-direction: row;
    text-align: justify;
    margin-bottom: -5px;
  }

  .client-name p {
    font-size: 15px;
    margin-top: 10px;
  }

  .client-name h4 {
    margin-left: 50px;
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
    text-transform: uppercase;
  }

  .start-date {
    display: flex;
    flex-direction: row;
    text-align: justify;
  }

  .start-date p {
    font-size: 15px;
    margin-top: 0px;
  }

  .start-date h4 {
    margin-left: 65px;
    font-weight: 400;
    font-size: 15px;
    margin-top: 0px;
    text-transform: uppercase;
  }

  .application-type {
    display: flex;
    flex-direction: row;
    text-align: justify;
  }

  .application-type p {
    font-size: 15px;
    margin-top: 10px;
  }

  .application-type h4 {
    margin-left: 18px;
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
    text-transform: uppercase;
  }

  .end-date {
    display: flex;
    flex-direction: row;
    text-align: justify;
  }

  .end-date p {
    font-size: 15px;
    margin-top: 0px;
  }

  .end-date h4 {
    margin-left: 73px;
    font-weight: 400;
    font-size: 15px;
    margin-top: 0px;
    text-transform: uppercase;
  }

  .wrap-right_data {
    width: 90%;
    justify-content: center;
    align-self: center;
  }

  .wrap-doc-upload {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 10px;
  }

  .last_status_doc {
    width: 90%;
    justify-content: center;
    align-self: center;
  }

  .status_vulnerability_table {
    width: 95%;
    display: flex;
    background-color: #ffff;
    border-radius: 10px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

}

@media only screen and (max-width:845px) {
  .status_newnavbar {
    width: 70px;
  }
}

@media only screen and (max-width:682px) {

  .wrap_route_header {
    display: flex;
    margin-top: 8px;
    height: 40px;
    width: 94%;
    align-self: center;
    margin-left: 25px;
    margin-bottom: -5px;
    border: 1px solid rgb(219, 219, 219);
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .pro-client {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    /* text-align: left; */
    margin-left: 15px;
  }

  .pro-data {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    /* text-align: left; */
    margin-left: 15px;
  }
}
