.updatepass {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-size: cover;
}

.passnavbar{
    width: 200px;
}

.right-updatepass{
    width: 90%;
    display: flex;
}

.leftpass {
    flex: 33%;
}

.wrap-updatepass {
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.rightpass {
    flex: 33%;
}

.updatepas {
    width: 450px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: black;
}

.updatepas h6{
    font-size: 16px;
    margin-top: 5px;
    padding: 10px;
    width: 70%;
    align-self: center;
    justify-content: start;
    text-align: center;
    color: red;
    border: 1px solid red;
    border-radius: 10px;
    margin-bottom: 0px;
}

.updatepas p {
    font-size: 13px;
    font-weight: 400;
    margin-top: 9px;
    align-self: flex-start;
    text-align: left;
    margin-left: 0px;
    color: rgb(240, 3, 3);
    margin-bottom: 0px;
}

.updatepas h1 {
    margin-top: -5px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: rgba(5, 5, 5, 0.573);
    font-weight: 500;

}

 .updatepas label {
    margin-top: 20px;
    align-self: flex-start;
    margin-bottom: 2px;
    margin-top: 18px;
    margin-left: 28px;
    color: rgba(0, 0, 0, 0.694);
    font-size: 15px;
}

.updatepas input {
    padding: 10px;
    margin-top: 0px;
    width: 380px;
    border:1px solid;
    border-radius: 5px;
    border-bottom-left-radius:unset;
    border-bottom-right-radius:unset;
    border-top: none;
    border-left: none;
    border-right: none;
    align-self: center;
    background-color: #f1f1f1;
    font-size: 15px;
}

.updatepas p{
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
    align-self: flex-start;
    text-align: left;
    margin-left: 28px;
    color: rgb(240, 3, 3);
    margin-bottom: 0px;
}

.updatepas h5{
    font-size: 13px;
    font-weight: 400;
    margin-top: -7px;
    align-self: flex-start;
    text-align: left;
    margin-left: 28px;
    color: rgb(240, 3, 3);
    margin-bottom: 0px;
}

.updatepas input::placeholder{
    font-size: 13px;
}

.updatepas button {
    margin-top: 20px;
    width: 350px;
    font-size: 16px;
    padding: 10px;
    background-color: rgba(88, 191, 255, 0.637);
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 5px;
    border-radius: 5px;
    align-self: center;
    font-family: "IBM Plex Sans", sans-serif;
}

.updatepas button:hover{
    background-color: rgba(88, 191, 255, 0.774);
}

ul {
    font-size: 13px;
    text-align: left;
    margin-bottom: 5px;
    color: black;
    margin-left: 30px;
}

li {
    margin-bottom: 3px;
    font-size: 13px;
}

.update_eye-icon {
    margin-top: -35px;
    margin-left: 75%;
    /* transform: translateX(-50%);
    -moz-fit-content: initial; */
    width: 8%;
    cursor: pointer;
    color: #777;
    font-size: 16px;
}

 .update_eye-icon.fa-eye {
    color: black;
  }

.update_eye-icon.fa-eye-slash {
    color: #777;
  }


@media only screen and (max-width:600px){

    .updatepas {
        width: 350px;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        color: black;
    }

    .updatepas label {
        margin-top: 20px;
        align-self: flex-start;
        margin-bottom: 2px;
        margin-top: 18px;
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.694);
        font-size: 15px;
    }

    .updatepas input {
        padding: 10px;
        margin-top: 0px;
        width: 300px;
        border:1px solid;
        border-radius: 5px;
        border-bottom-left-radius:unset;
        border-bottom-right-radius:unset;
        border-top: none;
        border-left: none;
        border-right: none;
        align-self: center;
        background-color: #f1f1f1;
        font-size: 15px;
    }
}

@media only screen and (max-width:844px){
    .passnavbar{
        width: 70px;
    }
}


@media only screen and (min-width:1500px){
    .passnavbar{
        width: 250px;
    }
}
