.wrapvulnerable {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 18px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.wrap-vulnerable {
    width: 300px;
    background-color: white;
    margin-left: 35px;

}

.vulnerable button {
    font-size: 20px;
    padding: 12px;
    margin: 20px;
    background-color: rgb(107, 164, 107);
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.vulnerable button:hover {
    background-color: rgb(101, 206, 101);
    border-color: rgb(101, 206, 101);
}

.list-vuln {
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -20px;
}

.heading {
    width: 50%;
}

.heading h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
    align-self: flex-start;
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
    color: rgba(5, 5, 5, 0.573);
}

.heading_button {
    width: 50%;
    align-self: flex-end;
    justify-content: flex-end;
    text-align: end;
}

.heading_button button {
    font-size: 16px;
    border-radius: 5px;
    padding: 8px 8px;
    margin: 10px;
    background-color: rgba(88, 191, 255, 0.637);
    color: black;
    font-weight: 400;
    cursor: pointer;
    margin-right: 20px;
    width: 100px;
}

.heading_button button:hover {
    background-color: rgba(88, 191, 255, 0.774);
}

.wrapvul-table {
    max-width: 100%;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.table-vulner .high {
    background-color: rgba(255, 166, 0, 0.925);
    color: black;
    font-weight: 500;
}

.table-vulner .critical {
    background-color: red;
    color: black;
    font-weight: 500;
}

.table-vulner .medium {
    background-color: #4285f4;
    color: black;
    font-weight: 500;
}

.table-vulner .low {
    background-color: #6aa84f;
    color: black;
    font-weight: 500;
}

.table-vulner .info {
    background-color: rgba(69, 170, 217, 0.356);
    color: black;
    font-weight: 500;
}


.recommendations {
    width: 300px;
    text-align: left;
}

.status_retest {
    align-self: center;
    font-size: 14px;
    margin-left: -5px;
    max-width: 100px;
    min-width: 100px;

}

.status_retest p {
    font-size: 13px;
    color: black;
}

i {
    text-align: right;
}

.button_retest {
    background-color: transparent;
    border: none;
}

.table-vulner select {
    width: 82px;
    padding: 5px;
    margin-top: 10px;
    font-size: 13px;
    border: none;
    background-color: transparent;
    font-weight: 400;
}

.table-vulner option {
    font-weight: 500;
    font-size: 13px;
}

.edit_saveclick {
    background-color: rgba(88, 191, 255, 0.637);
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 400;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.edit_saveclick:hover {
    background-color: rgba(88, 191, 255, 0.774);
}

.wrap-isec-vulnerabilities {
    background-color: white;
    width: 100%;
    justify-content: center;
    align-self: center;
    margin-bottom: 0px;
    border-radius: 10px;
}

.table-vulner {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

.cancel_save {
    background-color: rgb(220, 220, 220);
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 400;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.cancel_save:hover {
    background-color: rgba(88, 191, 255, 0.774);
}

.icons {
    width: 25px;
    height: 25px;
    text-align: center;
    align-self: center;
    cursor: pointer;
    background-color: rgba(88, 191, 255, 0.637);
    padding: 5px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 20px;
    font-size: 13px;
}

.icons:hover {
    color: rgb(255, 6, 6);
}

.vuln-details h5 {
    margin-left: 150px;
}

@media only screen and (max-width:1500px) {

    .wrap-isec-vulnerabilities {
        width: 100%;
        justify-content: center;
        align-self: center;
        margin-bottom: 0px;
        border-radius: 10px;
    }

    .table-vulner {
        width: 100%;
        border-collapse: collapse;
        font-size: 18px;
    }

    .table-vulner th {
        min-width: 20px;
        max-width: 150px;
        text-align: center;
        padding: 8px 5px;
        color: rgba(0, 0, 0, 0.569);
        border: 1px solid rgba(142, 142, 142, 0.235);
        background-color: #8be3e383;
        font-size: 14px;
        letter-spacing: 0.2px;
        white-space: nowrap;
        text-align: left;
        align-self: flex-start;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .table-vulner td {
        min-width: 20px;
        max-width: 150px;
        background-color: rgba(248, 249, 248, 0.62);
        text-align: left;
        color: black;
        padding: 5px 5px 5px 0px;
        border: 1px solid rgba(142, 142, 142, 0.235);
        font-size: 14px;
        letter-spacing: 0.2px;
        white-space: nowrap;
        text-align: left;
        align-self: flex-start;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .table-vulner th:first-child,
    .table-vulner td:first-child {
        width: 40px;
        padding: 5px 5px 5px 5px;
        text-align: center;
    }

    .table-vulner th:nth-child(2) {
        width: 150px;
    }

    .table-vulner td:nth-child(2) {
        width: 150px;
        text-align: left;
        padding: 5px 5px 5px 5px;

    }

    .table-vulner th:nth-child(3) {
        max-width: 30px;
    }

    .table-vulner td:nth-child(3) {
        max-width: 30px;
        text-align: center;
        padding: 5px 5px 5px 5px;
        word-break: break-all;
    }

    .table-vulner th:nth-child(4) {
        max-width: 100px;
    }

    .table-vulner td:nth-child(4) {
        max-width: 100px;
        padding: 5px 5px 12px 5px;

    }

    .table-vulner th:nth-child(5) {
        max-width: 220px;

    }

    .table-vulner td:nth-child(5) {
        max-width: 220px;
        padding: 5px 5px 8px 5px;
    }

    .table-vulner th:nth-child(6) {
        max-width: 60px;
    }

    .table-vulner td:nth-child(6) {
        max-width: 60px;
        text-align: left;
        color: black;
        padding: 5px 5px 5px 5px;
    }

    .table-vulner th:nth-child(7) {
        max-width: 50px;
    }

    .table-vulner td:nth-child(7) {
        min-width: 50px;
        max-width: 50px;
        text-align: center;
        color: black;
        font-size: 15px;
        height: 90px;
    }

    .cancel_save {
        background-color: rgb(220, 220, 220);
        color: black;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 4px;
        font-weight: 400;
        font-size: 13px;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .cancel_save:hover {
        background-color: rgba(88, 191, 255, 0.774);
    }

    .icons {
        width: 25px;
        height: 25px;
        text-align: center;
        align-self: center;
        cursor: pointer;
        background-color: rgba(88, 191, 255, 0.637);
        padding: 5px;
        font-weight: 400;
        text-decoration: none;
        border-radius: 20px;
        font-size: 13px;
    }

    .icons:hover {
        color: rgb(255, 6, 6);
    }

    .vuln-details h5 {
        margin-left: 150px;
    }

    .table-vulner select {
        width: 82px;
        padding: 5px;
        margin-top: 10px;
        font-size: 13px;
        border: none;
        background-color: transparent;
        font-weight: 400;
    }

    .table-vulner option {
        font-weight: 500;
        font-size: 13px;
    }
}


@media only screen and (max-width: 990px) {

    .wrapvul-table {
        max-width: 100%;
        display: flex;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        overflow-x: scroll;
    }

    .table-vulner {
        width: 100%;
        border-collapse: collapse;
        font-size: 18px;
        overflow-x: auto;
        table-layout: auto;
    }

    .table-vulner th:nth-child(3) {
        max-width: 60px;
    }

    .table-vulner td:nth-child(3) {
        max-width: 60px;
        text-align: left;
        padding: 5px 5px 5px 5px;
        word-break: break-all;
    }
}


@media only screen and (min-width:1500px) {
    .wrap-isec-vulnerabilities {
        background-color: white;
        margin-top: 20px;
        width: 98%;
        justify-content: center;
        align-self: center;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .table-vulner th {
        width: 200px;
        text-align: center;
        padding: 8px 5px;
        color: rgba(0, 0, 0, 0.569);
        border: 1px solid rgba(142, 142, 142, 0.235);
        background-color: #8be3e383;
        font-size: 14px;
        letter-spacing: 0.2px;

    }

    .table-vulner td {
        width: 200px;
        background-color: rgba(248, 249, 248, 0.62);
        color: black;
        padding: 5px 5px 5px 0px;
        border: 1px solid rgba(142, 142, 142, 0.235);
        font-size: 14px;
        letter-spacing: 0.2px;

    }

    .table-vulner th:first-child,
    .table-vulner td:first-child {
        width: 25px;
        padding: 5px 5px 5px 5px;
        text-align: center;
    }

    .table-vulner th:nth-child(2) {
        width: 150px;
    }

    .table-vulner td:nth-child(2) {
        width: 150px;
        text-align: left;
        padding: 5px 5px 5px 5px;
    }

    .table-vulner th:nth-child(3) {
        max-width: 60px;
    }

    .table-vulner td:nth-child(3) {
        max-width: 60px;
        text-align: center;
        padding: 0px 5px 0px 5px;
    }

    .table-vulner th:nth-child(4) {
        width: 280px;
    }

    .table-vulner td:nth-child(4) {
        width: 280px;
        text-align: left;
        padding: 5px 5px 5px 5px;
    }

    .table-vulner th:nth-child(5) {
        width: 300px;
    }

    .table-vulner td:nth-child(5) {
        max-width: 300px;
        height: 100px;
        padding: 5px 5px 12px 5px;

    }

    .table-vulner th:nth-child(6) {
        max-width: 85px;
        min-width: 85px;
    }

    .table-vulner td:nth-child(6) {
        max-width: 85px;
        min-width: 85px;
        text-align: left;

    }

    .table-vulner th:nth-child(7) {
        max-width: 75px;
        min-width: 75px;
    }

    .table-vulner td:nth-child(7) {
        max-width: 75px;
        min-width: 75px;
        text-align: center;
    }

}
