body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.2px;
}

p{
  font-size: 16px;
  letter-spacing: 0.1px;
}

button {
  font-weight: 400;
  border:none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.2px;
}

label{
  font-weight: 500;
  font-size: 16px;
  color: #303030;
  letter-spacing: 0.2px;
}

input{
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.4px;
  font-family: "IBM Plex Sans", sans-serif;
}

li{
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.1px;
}

th{
  font-size: 15px;
  letter-spacing: 0.2px;

}

td{
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

input, select {
  width: 100%;
  margin-bottom: 8px;
  border: 1px solid #8e8e8e;
  border-radius: 4px;
  font-size: 15px;
  color: black;
  background-color: white;
  font-weight: 400;
  letter-spacing: 0.2px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  padding-right: 30px;
  letter-spacing: 0.2px;
}

select::placeholder{
  color: rgba(0, 0, 0, 0.694);
  font-family: "IBM Plex Sans", sans-serif;
}


textarea{
  letter-spacing: 0.2px;
  font-family: "IBM Plex Sans", sans-serif;
}

textarea::placeholder{
  letter-spacing: 0.2px;
}

input::file-selector-button {
  color: black;
  font-size: 15px;
  padding: 5px;
  background-color: rgba(140, 181, 140, 0.72);
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-family: "IBM Plex Sans", sans-serif;
}

input::file-selector-button:hover{
  background-color: rgba(12, 120, 12, 0.72);
}

textarea::placeholder{
  color: rgba(0, 0, 0, 0.694);
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: 0.4px;
}

input::placeholder{
  color: rgba(0, 0, 0, 0.694);
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif;
}

input:focus{
  outline-color: rgba(88, 191, 255, 0.637);
}

select:focus{
  outline-color: rgba(88, 191, 255, 0.637);
}

textarea:focus{
  outline-color: rgba(88, 191, 255, 0.637);
}



