.notification_session{
    position: absolute;
    width:400px;
    height: 50px;
    top: 21%;
    right: 10%;
    background-color: rgba(255, 255, 255, 0.707);
    color: red;
    z-index: 0;
    font-weight: bold;
    border: 1px solid red;
    border-radius: 5px;
    box-shadow: 5px 6px 10px 0px black;
}

.notification_session p{
    margin-top: 13px;
    font-size: 22px;
}
